*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swiper-slide{
    font-size: 60px;
    color: #fff;
    height: 25vh;
}
.btn-wrapper{
    width: 100vw;
    height: 10vh;
    background: yellowgreen;
    font-size: 45px;
}
.btn-wrapper div{
    width: 50vw;
    height: 10vh;
    background: #fffbf5;
    float: left;
    border: 1px solid red;
    color: red;
    font-size: 38px;
    text-align: center;
    line-height: 10vh;
}
.plan.active{
    background: #ff9999;
    color: #fff;
}
.done.active{
    background: #99f;
    color: #fff;
}
.add{
    width: 100vw;
    height: 10vh;
    position: absolute;
    left: 0;
    bottom: 0;
    background: skyblue;
    text-align: center;
    line-height: 10vh;
    font-size: 45px;
}
.mask{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}
.mask .alertBox,.mask .editBox{
    width: 80vw;
    height: 50vh;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    display: none;
}
.editBox{
    display: none;
}
.alertBox textarea,.editBox textarea{
    width: 100%;
    height: 40vh;
    resize: none;
    padding: 10vw;
    display: block;
    font-size: 40px;
}

textarea:focus{
    outline: none;
}
.alertBox .submit,.editBox .submit2{
    width: 100%;
    height: 10vh;
    background: #ccc;
    text-align: center;
    line-height: 10vh;
    font-size: 45px;
}
@keyframes show {
    0%{
        transform: scale(.5,.5);
    }
    100%{
        transform:scale(1,1) ;
    }
}
.show{
    animation: show .3s ease-in;
    display: block!important;
}
.close{
    display: block;
    width: 10vw;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    color: #333;
    position: absolute;
    right: 2vw;
    top: 2vh;
    font-size: 48px;
}
.tips{
    width: 100vw;
    height: 5vh;
    background: #f99;
    position: absolute;
    left: 0;
    top: 47.5vh;
    z-index: 999999;
    display: none;
    text-align: center;
    line-height: 5vh;
    color: #fff;
    font-size: 40px;
}
@keyframes tipsShow {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.tipsShow{
    display: block;
    animation: tipsShow 1.5s ease-in;
}
.content{
    width: 100%;
    height: 55vh;
    position: relative;
    overflow: hidden;
}
.content li{
    width: 100%;
    height: 8vh;
    background: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 40px;
    position: relative;
}
.content li p{
    width: 70vw;
    height: 8vh;
    line-height: 8vh;
    float: left;

}
.content li time{
    width: 20vw;
    height: 8vh;
    line-height: 8vh;
    float: left;
    color: red;
    font-size: 32px;
}
.content li i{
    width: 10vw;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    color: #ccc;
    float: left;
    font-style: normal;
}
.content li i.active{
    color:deepskyblue;
}
.content li div{
    width: 30vw;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    background: red;
    color: #fff;
    position: absolute;
    right: -30vw;
    top: 0;
}